body {
    margin: 1em;
    background: darkred;
    font-family: "Flamenco";
    text-align: center;
    margin: 0 0 10px 0;
}

game {
    display: inline;
    /* DO NOT CHANGE display: inline */
}

.card {
    display: inline-block;
    /* DO NOT CHANGE display: inline-block */
    /*   background-color: */
    background-size: 120px 120px;
    width: 120px;
    height: 120px;
    margin: 5px;
    border: 2px solid black;
}

.mansalva-regular {
    font-family: "Mansalva", sans-serif;
    font-weight: 400;
    font-style: normal;
}

